@import "src/mixins.scss";

.SearchByName {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  border: 1px #000000 solid;
  border-radius: 2px;
  width: 40%;
  @include phones {
    width: 50%;
  }
}